
	<style>
		body {
			min-width:1024px;
		}
	</style>
	
	
	<div class="appstage">

		<div class="appicon" style="background-image:url('<%= @app.large_icon %>');" ></div>
		
		<div class="apptitleframe">
			<div class="apptitle"><%= @app.name %></div>
			<div class="appdate">Posted on <%= @app.date %></div>
			<div class="appheaddesc"> <%= @app.head_description.to_s.html_safe() %></div>
		</div>
		
		<div class="appdesc" > <%= @app.description.to_s.html_safe() %></div>

		<div>
			<%= @template_site.commentsystem && @template_site.commentsystem.html_safe %>
		</div>


	</div>
	
	

