	

	<link rel="stylesheet" type="text/css" href="/css/tablesorter/tablesorter.css">


	<table class="tablesorter">
		<thead>
			<tr>
				<th width='10%'>App ID</th>
				<th>App Name</th>
				<th>Date</th>
				<th></th>
				<th></th>
				
			</tr>

		</thead>

		<tbody>
			<% @apps.each { |app| %>
				<tr>
					<td><%= app.id %></td>
					<td><a href='/dashboard/app/<%= app.name %>'><%= app.name %></a></td>
					<td><%= app.date %></td>
					<td><a href='/admin/edit/<%= app.id %>'><i class="fa fa-edit fa"></a></td>
					<td><a href='/admin/delete/<%= app.id %>' onclick="return confirm('Are you sure?')"><i class="fa fa-remove fa"></a></td>
				</tr>
			<% } %>
		</tbody>

		<tfoot>
			<tr>
				<td></td>
				<td><a href="/admin/add"><i class="fa fa-plus fa"></i></a></td>
				<td colspan="3"></td>
			</tr>
		</tfoot>

	</table>