	
	<link rel="stylesheet" type="text/css" href="/css/tablesorter/tablesorter.css">

	<table class="tablesorter">
		<thead>
			<tr>
				<th width='10%'>App ID</th>
				<th width='1%'>Icon</th>
				<th>App Name</th>
				<th>Date</th>
				<th></th>
			</tr>

		</thead>

		<tbody>
			<% @apps.each { |app| %>
				<tr>
					<td><%= app.id %></td>
					<td><img src='<%= app.icon %>'/></td>
					<td><a href='/dashboard/app/<%= app.name %>'><%= app.name %></a></td>
					<td><%= app.date %></td>
					<td><a href='/admin/edit/<%= app.name %>'>Edit</a></td>
				</tr>
			<% } %>
		</tbody>

	</table>