	
	<%= stylesheet_link_tag 'login'    %>

	<%= form_tag :action=>:login  %>

		<ul id="login_form">
	
			<% flash.each do |key, value| %>
       			<div class="alert alert-<%= key %>"><%= value %></div>
      		<% end %>

			<li>	
				Admin User Name: 
			</li>

			<li>
				<input class="form-control" type="text" name="txtUsername" />
			</li>
			
			<li>
				Password: 
			</li>
			<li>
				<input class="form-control" type="password" name="txtPassword"  />
			</li>


			<li>
				<input class="form-control" type="submit" value="Admin Login"  />
			</li>
		</ul>
	</form>
	
