/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.sorter {
	cursor: pointer;
}

#buttontab {
	text-align: left;
	margin: 20px;
	margin-bottom: 40px;
}