<!DOCTYPE HTML>
<html>
	<head>
		
		<% browser_ok = 0 %>	
		<% if @browser_req[ @user_agent.browser ] != nil %>
			
			<% if @user_agent.version >= @browser_req[ @user_agent.browser ] %>
				<% browser_ok = 1 %>	
			<% end %>
		
		<% else %>
			<% browser_ok = 1 %>	
		<% end %>


		<meta charset="utf-8" />
		<title><%= @template_site.title %></title> 


		<meta name="description" content="<%= @template_site.description %>" />


		<link alternative="http://<%= @host_with_port %>/dashboard/index/feed.atom"></link>
		

 		<link rel="icon" type="image/png" href="<%= @template_site.favicon %>"></link> 
 			
 		<link rel="stylesheet" href="/css/bootstrap.min.css">
 		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	
 		
 		<% if browser_ok == 1 %>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
			<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script src="/js/jquery.toaster.js"></script>
			
			<%= javascript_include_tag 'main' %>
			
		<% end %>

		<%= stylesheet_link_tag 'main' 	%>
		<%= stylesheet_link_tag 'app'   %>
		<%= stylesheet_link_tag 'error' %>
		
		<!-- Custom CSS -->
		<style>
			<%= @template_site.custom_css.html_safe %>
		</style>
				
	
		<%= @template_site.analytics.html_safe %>
		

	</head>
	<body>

		
		<div>
			<div id="header">
				<div id="header_icon_and_title">
					<a href="/">
						<div id="header_icon"></div>
						<div id="header_title"><%= @template_site.title %></div> 
					</a>

					<% if !session[:user_id]  %>
						<a href="/admin">
							<div id="header_login">Login</div>
						</a>
					<% else %>
						<div id="header_login">
							Welcome, <a href="/admin/index"><%= session[:user_id] %></a> 
							&nbsp;
							<a href="/admin/logout">
								<i class="fa fa-power-off"></i>
							</a>
						</div>

					<% end %>

				</div>
			</div>
		
		</div>

		<% if browser_ok == 1 %>
			<div id="stage">
				<%= yield :layout %>
			</div>
		<% else %>
			<%= render "/dashboard/no_ie" %>
		<% end %>

		
		<NOSCRIPT>
			Browser not supported. Sorry.		 	
		</NOSCRIPT>	

		<% if browser_ok == 1 %>

			<div id="footer">
				<%= @template_site.footer.html_safe %>
			</div>
		<% end %>
	</body>

		
</html>

