<!DOCTYPE HTML>
<html>
	<head>
		
		<% browser_ok = 0 %>	
		<% if @browser_req[ @user_agent.browser ] != nil %>
			
			<% if @user_agent.version >= @browser_req[ @user_agent.browser ] %>
				<% browser_ok = 1 %>	
			<% end %>
		
		<% else %>
			<% browser_ok = 1 %>	
		<% end %>


		<meta charset="utf-8" />
		<title>Tensai Studio</title> 
		<meta name="description" content="Tensai Studio" />


		<link alternative="http://<%= @host_with_port %>/dashboard/index/feed.atom"></link>
		

 		<link rel="icon" type="image/png" href="/css/imgs/bluecap_256.png"></link> 
 		
 		<link rel="stylesheet" href="/css/bootstrap.min.css">
 		
 		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 		
 		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	

 		<% if browser_ok == 1 %>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
			<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script src="/js/jquery.toaster.js"></script>
			
			<%= javascript_include_tag 'main' %>
			
		<% end %>

		<%= stylesheet_link_tag 'main' 	%>
		<%= stylesheet_link_tag 'app'   %>
		<%= stylesheet_link_tag 'error' %>
		
		
	
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-27131375-3']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>


		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		var sc_project=10049329; 
		var sc_invisible=1; 
		var sc_security="4f210882"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter.js'></"+"script>");
		</script>
		<noscript><div class="statcounter"><a title="web statistics"
		href="http://statcounter.com/free-web-stats/"
		target="_blank"><img class="statcounter"
		src="http://c.statcounter.com/10049329/0/4f210882/1/"
		alt="web statistics"></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->


	</head>
	<body>

		
		<div>
			<div id="header">
				<div id="header_icon_and_title">
					<a href="/">
						<div id="header_icon"></div>
						<div id="header_title">Tensai Studio</div> 
					</a>

					<% if !session[:user_id]  %>
						<a href="/admin">
							<div id="header_login" class="nav navbar-nav navbar-right">Login</div>
						</a>
					<% else %>
						<div id="header_login" class="nav navbar-nav navbar-right">
							Welcome, <%= session[:user_id] %> 
							&nbsp;
							<a href="/admin/logout">
								<i class="fa fa-power-off"></i>
							</a>
						</div>

					<% end %>

				</div>
			</div>
		
		</div>

		<% if browser_ok == 1 %>
			<div id="stage">
				<div id="stage_glass"></div>
				<%= yield :layout %>
			</div>
		<% else %>
			<%= render "/dashboard/no_ie" %>
		<% end %>

		
		<NOSCRIPT>
			Browser not supported. Sorry.		 	
		</NOSCRIPT>	

		<% if browser_ok == 1 %>

			<div id="footer">
				<div>
					<a href="https://www.facebook.com/pages/Tensai-Studio/225032264234793"><i class="fa fa-facebook fasocial"></i></a>
					<a href="http://twitter.com/tensaix2j"><i class="fa fa-twitter fasocial"></i></a>
					<a href="http://feeds.feedburner.com/tensaistudio"><i class="fa fa-rss fasocial"></i></a>
					<a href="http://github.com/tensaix2j"><i class="fa fa-github fasocial"></i></a>
					


				</div>
				<div><a href="/" id="footer">Tensai Studio 2011 - 2014</a></div>
			</div>
		<% end %>
	</body>

		
</html>

